{{formattedName}} <img src="" />
<br>
email: {{basics.email}}

<p>
<input type=radio name='interactive' /> Interactive Analytic 
<input type=radio name='general' /> General Analytic
</p>
Work Time Line:
<div><chart type="timeline" data="" /></div>


<br><br><br>
This will have all portfolio in single page